<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GuiShopMinus</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container" id="app" v-cloak>
            <form>
                <fieldset>
                    <label>Store Title: <span v-html="coloredTitle" class="minecraft"></span></label>
                    <input type="text" v-model="store.title">
                </fieldset>
            </form>
            <div class="colorselector">
                <div class="color" v-for="color of colors" v-bind:style="{'color': color.color}">&{{color.code}} - {{color.name}}</div>
                <!-- TODO: Selectors for styles -->
            </div>
        </div>
    <script type="text/javascript" src="main.9badda67124ec209e038.js"></script></body>
</html>